.order-table{
    border-color: black;
    background-color: black;
    width: 50%;
}

.order-table-header{
    text-align:center;
    background:none repeat scroll 0 0 darkgray;
    /*border-bottom:1px solid #BBBBBB;*/
    padding:5px;
}

.order-table-odd-row{
    text-align:left;
    background:none repeat scroll 0 0 #FFFFFF;
    /*border-top:1px solid #BBBBBB;*/
}

.order-table-even-row{
    text-align:left;
    /*background:none repeat scroll 0 0 #F9F9F9;*/
    background-color: #E5E5E5;
    /*border-top:1px solid #BBBBBB;*/
}

.order-table-index {
    width: 20%;
    text-align: center;
}

.order-table-main {
    text-align: left;
}

.order-table-last {
    width: 20%;
    text-align: center;
}